<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CocktailBar"
        tools:targetApi="31">

        <!-- Splash Screen (Launcher) -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CocktailBar.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home: synced image grid -->
        <activity
            android:name=".ui.gallery.GalleryActivity"
            android:exported="false" />

        <!-- Full-screen image display + lock -->
        <activity
            android:name=".ui.display.DisplayActivity"
            android:exported="false"
            android:theme="@style/Theme.CocktailBar.Fullscreen" />

    </application>

</manifest>
